<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rvgames.quiz">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ThemeMachine" />
        <activity android:name=".Settings" />
        <activity android:name=".AnimeScores" />
        <activity android:name=".AnimeEasyEnd" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Instruction" />
        <activity android:name=".MathMediumQuizEnd" />
        <activity android:name=".MathMediumQuestion5" />
        <activity android:name=".MathMediumQuestion4" />
        <activity android:name=".MathMediumQuestion3" />
        <activity android:name=".MathMediumQuestion2" />
        <activity android:name=".MathMediumQuestion1" />
        <activity android:name=".MathsScores" />
        <activity android:name=".HighScore" />
        <activity android:name=".MathQuizEasyEnd" />
        <activity android:name=".MEQuestion5" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Question1">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".Question2">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".selectDifficulty">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".quizSection">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectDifficultyAnime">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".AnimeEasy">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".MEQuestion3">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".MEQuestion4">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".EndlessMode">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
    </application>

</manifest>